footer {

  @include media-breakpoint-down(md) {
    padding-bottom: 85px;
  }
}
.colophon {
  width: 100%;
  position: relative;
  font-size: 2.5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c0c0cb5;
    z-index: 0;
    pointer-events: none;
  }


  hr {
    opacity: 1;
    margin: 0 0 10px;
    border-width: 3px;
    width: 50%;
    transform: translateX(50%);
  }

  a {
    color: #fff;
    font-size: 2.8rem;
    &:hover {
      color: $primary;
    }

  }


  .bottom-bar {    
    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }
  }
}


.cky-consent-bar {
  p, a {
    font-size: 2rem !important;
  }

}