#header {

  .nav-wrapper {

    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 3px #0000001A;
    transition: 0.3s;
    //Fix carousel overlap + FB feed
    z-index: 17;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      max-height: unset;
      height: 100vh;
      width: 100vw;
      background-color: #FFF;
      padding: 15px;
      z-index: 10;
      left: 100%;
    }

    .custom-logo {
      object-fit: contain;
      max-height: 60px;
      width: 100%;
    }

    &.hide {
      transform: translateY(-100%);
      transition: 0.3s;
    }

    &.mobile-active {
      transform: translateX(-100%);
      transition: 0.3s;
    }
  }

  .mobile-nav {
    background-color: $primary;
    max-height: 70px;
    width: 100vw;
    bottom: 0;
    z-index: 100;
  }
}

#hero-wrapper {
  // Define variable
  $artefact: #000;

  .content {
    position: absolute;
    right: 0;
    top: 200px;
  }

  .feature-box {
    position: relative;
    height: 150px;
    background-color: $artefact;
    --animate-delay: 0.5s;

    &.animate-first {
      --animate-duration: 0.5s;
    }

    &:hover {
      img {
        transition: all 100ms ease-in-out;
        transform: scale(1.10);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 0 150px 50px;
      border-color: transparent transparent $artefact transparent;
    }

    .img-wrapper {
      position: relative;
      height: 75px;

      img {
        width: 220px;
        position: absolute;
        scale: 1;
        z-index: 1;
        top: -76px;
        right: -5%;
        transition: all .1s ease-in-out;
      }
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }



  }

}

#header-single {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c0c0cb5;
    z-index: 0;
    pointer-events: none;
  }

  

  .header-content {
    min-height: 450px;
    position: relative;
  }

}


.header-banner {
  background: linear-gradient(180deg, rgba(238,238,238,0) 60%, #000 90%),url("https://motomaxx.net/static/frontend/Motomaxx/default/sl_SI/images/bg-rider-wide%201-mini.jpg");
  background-position: top center;
  background-size: cover;
}