.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  i {
    font-size: 2.5rem;
  }

  .menu-item {
    position: relative;

    & > a {
      color: #000;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 500;

      @include media-breakpoint-down(md) {
        display: block !important;
        text-align: center !important;
      }
      
    }
  }

  .sub-menu {
    display: none;
    position: absolute; // Default for desktop
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 5;
    box-shadow: 0 4px 6px #0000001a;
    min-width: 350px;
    text-align: center;
    transition: max-height 0.3s ease-in-out; // Added transition
    
    @include media-breakpoint-down(md) {
      box-shadow: none;
      border-radius: 8px;
    }

    i {
      font-size: 1.8rem;
    }

    a {
      color: #000;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 500;
    }

    .menu-item {
      &:hover {
        background-color: #efefef;
      }

      a {
        width: 100%;
        display: inline-block;
        padding: 10px 20px 5px;
      }

      .sub-menu .sub-menu-item {
        &:hover {
          background-color: #efefef;
        }
      }
    }
  }

  // Show submenu on hover (desktop only)
@include media-breakpoint-up(md) {
  .menu-item-has-children:hover > .sub-menu {
    display: flex;
  }
}

@include media-breakpoint-down(md) {
  .menu-item {
    position: relative !important;
  }

  .sub-menu {
    position: relative !important; // Override absolute positioning on mobile
    width: 100% !important;
    display: none !important; // Keep hidden until toggled
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; // Smooth animation
  }

  .menu-item-has-children {
    & > a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.open {
      .sub-menu {
        display: flex !important;
        max-height: 500px;
        flex-direction: column;
      }
    }
  }
}
}

// First-level submenu (desktop)
.menu > .menu-item > .top-level-submenu {
  left: 0;
  top: 100%;
  min-width: 350px;
  text-align: center;
  flex-direction: column;

  a {
    font-size: 2.5rem;
  }
}

// Child submenus (desktop)
.menu-item-has-children .sub-menu {
  left: 100%;
  top: 0;
  flex-direction: column;
}





// WP MENU

#main-menu {

  li {

  &.last {
    padding: 10px 10px 5px;
    @extend .btn;
    @extend .btn-danger;


    a {
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  } 
    
    a {
      color: #000;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 500;
  
      &:hover {
        color: $danger;
      }
     }
  }


}