html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  // Should fix overflow on apple devices while still ensuring position: sticky works
  overflow-x: clip;

}

*,
*:hover,
*:focus {
  outline: 0;
}

.transition, %transition {
  transition: all 0.3s ease-in-out;
}

pre.dump {
  background: #dec8eb;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 0 20px;
}

.container-fluid {
  max-width: 1920px;

  &.padded {
    padding: 0px 8%;

    @include media-breakpoint-down(md){
      padding: 0px 3%;
    }
  }
}

.fit-content {
  width: fit-content;
}